<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This website is created by Samyak Jain.</p>
        <p>Using this you can know about the weather of any place just by a click</p>
    </div>
    {{>footer}}
</body>

</html>